scene {
  width: auto;
  height: 1080px;
  display: inline-block;
}

dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}
dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}
canvas {
  width: auto;
  height: 100%;
}

speech {
  position: absolute;
  bottom: 80px;
  left: 5%;
  background-color: rgb(24, 76, 52);
  width: 80%;
  height: 10vh;
  border: 1px solid black 
}

name {
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}