html, body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

scene {
  width: 1920px;
  height: 1080px;
  display: inline-block;
}


dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}
dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}
canvas {
  width: auto;
  height: 100%;
}

speech {
  position: absolute;
  bottom: 25px;
  left: 5%;
  background-color: rgb(24, 76, 52);
  width: 80%;
  height: 15vh;
  border: 5px solid rgb(7, 21, 1);
  border-radius: 5px;
}

input{
  height: 20px;
  margin-left: 10px;
  background-color: green;
  color: white;
  font-size: 20px;
  width: 75px;
}

.name {
  font-size: 25px;
  text-shadow: 0px 0px black;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.content{
  font-size: 20px;
  color: rgb(66, 222, 79);
  font-family: Minecraft;
  
}

.button{
  background-color: rgb(24, 76, 52);
  border-radius: 25px;
}

button{
  height: 50px;
  display: inline-block;
  width: auto;
  margin-right: 5px;
  border-radius: 25px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-style: oblique;
  font-weight: bold;
  
}
#furor{
  position: absolute;
  color: rgb(21, 158, 25);
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}

.display{
  color: rgb(130, 210, 130);
  display: flex;
  justify-content: right;
  border: 1px black;
}
